body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "New Rocker", cursive;
    position: relative;
}

a-scene {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

a {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 100;
    padding: 2rem;
    color: black;
    background-color: red;
    width: 5rem;
}

#flamesAudio {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 12px;
    z-index: 200;
}

#toggleButton {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 100;
    padding: 2rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    background-color: red;
    text-align: center;
    width: 5rem;
    border-radius: 2rem;
}