body {
            font-family: "New Rocker", cursive;
            font-weight: 400;
            font-style: normal;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            position: relative;
            display: flex;
            flex-direction: column;
        }
        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../assets/background.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            filter: brightness(0.5) contrast(2);
            z-index: -1;
        }
        .logo {
            width: 15rem;
            filter: contrast(2);
        }
        .container {
            text-align: center;
            background: black;
            border: rgb(121, 2, 2) 5px solid;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        }
        h1 {
            color: white;
            margin-bottom: 30px;
        }
        .nav-links {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        a {
            display: block;
            padding: 15px 30px;
            background: rgb(121, 2, 2);
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            transition: background 0.3s;
        }
        a:hover {
            background: rgb(65, 2, 2);
        }